* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  background: #e7ecef;
  font-family: "Inter", monospace; }

.container {
  margin: 0px 90px;
  overflow: hidden; }

#topSection {
  margin-top: 50px; }

.selector {
  display: flex;
  width: fit-content;
  height: 38px;
  border: 1px solid #c0ccdd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px; }
  .selector .selectorItem {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; }
    .selector .selectorItem:first-child .selectorItemLabel {
      border: none;
      border-radius: 8px 0px 0px 8px; }
    .selector .selectorItem:last-child .selectorItemLabel {
      border-radius: 0px 8px 8px 0px; }
    .selector .selectorItem .selectorItemRadio {
      appearance: none;
      display: none; }
    .selector .selectorItem .selectorItemLabel {
      padding: 11px 10px;
      width: fit-content;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      transition-duration: 0.3s;
      transition-property: transform, color, box-shadow;
      transform: none;
      color: #8492a6;
      border-left: 1px solid #c0ccdd;
      cursor: pointer; }
    .selector .selectorItem .selectorItemRadio:checked + .selectorItemLabel {
      background: #c0ccdd;
      color: #000;
      transform: translateY(-2px);
      font-weight: 600;
      border: none; }

.totalResultsRow {
  display: flex;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  justify-content: space-around;
  height: 127px; }
  .totalResultsRow .divider {
    width: 1px;
    height: 100%;
    background-color: #dadada; }
  .totalResultsRow .brandLogo {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px; }
    .totalResultsRow .brandLogo img {
      width: 44px;
      height: 55px; }
    .totalResultsRow .brandLogo p {
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      color: #0064af; }
  .totalResultsRow .totalResults {
    display: flex;
    padding: 20px;
    gap: 12px;
    align-items: center; }
    .totalResultsRow .totalResults:last-child {
      border-right: none; }
    .totalResultsRow .totalResults .totalResultsLeft p:first-child {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #6b7280;
      margin-bottom: 5px;
      white-space: nowrap; }
    .totalResultsRow .totalResults .totalResultsLeft p:nth-child(2) {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      color: #111827;
      margin-bottom: 12px; }
    .totalResultsRow .totalResults .totalResultsLeft p:nth-child(3) {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      text-transform: uppercase;
      color: #6b7280; }
    .totalResultsRow .totalResults .totalResultsLeft .positiveCounter {
      display: flex;
      gap: 5px;
      align-items: center; }
      .totalResultsRow .totalResults .totalResultsLeft .positiveCounter div {
        display: flex;
        align-items: center;
        background: #f4afaf;
        border-radius: 20px;
        padding: 1px 5px; }
        .totalResultsRow .totalResults .totalResultsLeft .positiveCounter div p {
          color: #d13f4a;
          margin-left: 0px; }
      .totalResultsRow .totalResults .totalResultsLeft .positiveCounter p {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        text-transform: uppercase;
        color: #6b7280;
        margin-bottom: 0px; }
    .totalResultsRow .totalResults .totalResultsRight img {
      width: 125px;
      height: 30px;
      margin-bottom: 30px; }
    .totalResultsRow .totalResults .totalResultsRight p {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      text-transform: uppercase;
      color: #6b7280;
      margin-left: 12px; }
    .totalResultsRow .totalResults .totalResultsRight .negativeCounter {
      display: flex;
      gap: 5px;
      align-items: center; }
      .totalResultsRow .totalResults .totalResultsRight .negativeCounter div {
        display: flex;
        align-items: center;
        background: #daf4af;
        border-radius: 20px;
        padding: 1px 5px; }
        .totalResultsRow .totalResults .totalResultsRight .negativeCounter div p {
          color: #83b435;
          margin-left: 0px; }
      .totalResultsRow .totalResults .totalResultsRight .negativeCounter p {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        text-transform: uppercase;
        color: #6b7280;
        margin-bottom: 0px; }
      .totalResultsRow .totalResults .totalResultsRight .negativeCounter p {
        margin-left: 0px; }

.infoSection {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px; }
  .infoSection .info {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%; }
    .infoSection .info .infoTop {
      display: flex;
      gap: 20px;
      margin-bottom: 30px; }
      .infoSection .info .infoTop img {
        width: 48px;
        height: 48px; }
      .infoSection .info .infoTop .totalNumber p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #6b7280;
        margin-bottom: 8px;
        letter-spacing: 0.02em;
        text-transform: capitalize; }
      .infoSection .info .infoTop .totalNumber div {
        display: flex;
        gap: 12px; }
        .infoSection .info .infoTop .totalNumber div p {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          color: #111827; }
        .infoSection .info .infoTop .totalNumber div div {
          display: flex;
          gap: 8px;
          align-self: flex-end; }
          .infoSection .info .infoTop .totalNumber div div img {
            width: 10px;
            height: 12px; }
          .infoSection .info .infoTop .totalNumber div div p {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: #059669; }
    .infoSection .info .infoBottom {
      display: flex;
      justify-content: space-between; }
      .infoSection .info .infoBottom p {
        font-weight: 700;
        font-size: 12px;
        color: #6b7280; }
        .infoSection .info .infoBottom p span {
          font-weight: 500 !important;
          margin-left: 3px; }

#midSection .mid {
  display: flex;
  gap: 20px; }
  #midSection .mid .map {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 65%; }
    #midSection .mid .map p {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      color: #1f2d3d;
      margin-bottom: 10px;
      text-transform: capitalize; }
    #midSection .mid .map hr {
      width: 100%;
      border: 1px solid #edf2f9;
      opacity: 70%; }
    #midSection .mid .map #mapid {
      height: 100%;
      margin-top: 20px; }
  #midSection .mid .counties {
    flex: 31%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px; }
    #midSection .mid .counties p {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      color: #1f2d3d;
      margin-bottom: 10px;
      text-transform: capitalize; }
    #midSection .mid .counties hr {
      width: 100%;
      border: 1px solid #edf2f9;
      opacity: 70%;
      margin-bottom: 15px; }
    #midSection .mid .counties #table {
      width: 100%; }
    #midSection .mid .counties .table {
      width: 100%; }
      #midSection .mid .counties .table .tableHeaders {
        padding: 13px 28px; }
        #midSection .mid .counties .table .tableHeaders td {
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: #8492a6;
          padding: 5px 15px;
          background-color: #fff !important; }
      #midSection .mid .counties .table tr td {
        padding: 8px 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #000000; }
      #midSection .mid .counties .table tr:nth-of-type(odd) {
        background-color: #f3f2f8; }

#bottomSection {
  margin-top: 20px;
  margin-bottom: 90px; }
  #bottomSection .bottom {
    display: flex;
    gap: 20px; }
    #bottomSection .bottom .bottomLeft {
      padding: 20px;
      border-radius: 8px;
      background-color: #fff;
      flex: 31%; }
      #bottomSection .bottom .bottomLeft p {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #1f2d3d;
        margin-bottom: 10px;
        text-transform: capitalize; }
      #bottomSection .bottom .bottomLeft hr {
        width: 100%;
        border: 1px solid #edf2f9;
        opacity: 70%;
        margin-bottom: 15px; }
      #bottomSection .bottom .bottomLeft #labsTable {
        width: 100%; }
      #bottomSection .bottom .bottomLeft .table {
        width: 100%; }
        #bottomSection .bottom .bottomLeft .table .tableHeaders {
          padding: 13px 28px; }
          #bottomSection .bottom .bottomLeft .table .tableHeaders td {
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #8492a6;
            padding: 5px 15px;
            background-color: #fff !important; }
        #bottomSection .bottom .bottomLeft .table tr td {
          padding: 8px 15px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          color: #000000; }
        #bottomSection .bottom .bottomLeft .table tr:nth-of-type(odd) {
          background-color: #f3f2f8; }
    #bottomSection .bottom .bottomRight {
      flex: 65%;
      background-color: #fff;
      border-radius: 8px;
      padding: 20px; }
      #bottomSection .bottom .bottomRight p {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #1f2d3d;
        margin-bottom: 10px;
        text-transform: capitalize; }
      #bottomSection .bottom .bottomRight hr {
        width: 100%;
        border: 1px solid #edf2f9;
        opacity: 70%;
        margin-bottom: 15px; }

@media only screen and (max-width: 990px) {
  .container {
    margin: 0px 20px; }
  .selector {
    height: 33px;
    align-items: center;
    justify-content: space-between; }
    .selector .selectorItem .selectorItemLabel {
      font-size: 12px;
      padding: 10px; }
  .totalResultsRow {
    flex-direction: column;
    gap: 18px;
    height: fit-content;
    align-items: center;
    padding: 30px 15px; }
    .totalResultsRow .brandLogo {
      padding: 0px; }
    .totalResultsRow .divider {
      width: 90%;
      height: 1px; }
    .totalResultsRow .totalResults {
      padding: 0px;
      justify-content: space-between;
      width: 100%; }
  .infoSection {
    flex-direction: column; }
    .infoSection .info {
      padding: 15px; }
      .infoSection .info:first-child .infoTop {
        margin-bottom: 0px !important; }
  #midSection .mid {
    flex-direction: column; }
    #midSection .mid .counties {
      padding: 12px; }
      #midSection .mid .counties p {
        text-align: center; }
      #midSection .mid .counties .table .tableHeaders td {
        padding: 5px 10px; }
      #midSection .mid .counties .table tr td {
        padding: 8px 10px; }
    #midSection .mid .map {
      flex: auto;
      height: 400px;
      padding: 15px; }
      #midSection .mid .map p {
        text-align: center; }
  #bottomSection {
    margin-bottom: 30px; }
    #bottomSection .bottom {
      flex-direction: column; }
      #bottomSection .bottom .bottomLeft {
        padding: 15px; }
        #bottomSection .bottom .bottomLeft p {
          text-align: center; }
        #bottomSection .bottom .bottomLeft .table .tableHeaders td {
          padding: 5px 10px; }
        #bottomSection .bottom .bottomLeft .table tr td {
          padding: 8px 10px; }
      #bottomSection .bottom .bottomRight {
        padding: 15px; }
        #bottomSection .bottom .bottomRight p {
          text-align: center; } }
